@charset "UTF-8";
/* reset css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&family=Noto+Serif+TC:wght@200;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, section, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
}

:root {
  --font-size: 10px;
}

@font-face {
  font-family: 'icon';
  src: url("../fonts/icons/icon.eot?g9jil2");
  src: url("../fonts/icons/icon.eot?g9jil2#iefix") format("embedded-opentype"), url("../fonts/icons/icon.ttf?g9jil2") format("truetype"), url("../fonts/icons/icon.woff?g9jil2") format("woff"), url("../fonts/icons/icon.svg?g9jil2#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 基本設定 */
* {
  font-family: 'Arial', '微軟正黑體', 'Noto Sans TC', sans-serif;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #1E2333;
}

/* index 標題設定 */
.title-h2 {
  margin-bottom: 100px;
}

.title-h2 p.tab {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 20px;
  font-size: calc(1.4 * var(--font-size));
  font-weight: 500;
  color: #008BF2;
  line-height: normal;
  background-color: #E3F0FA;
  border-radius: 2px;
}

.title-h2 h2 {
  font-size: calc(4.4 * var(--font-size));
}

@media screen and (max-width: 768px) {
  .title-h2 {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 428px) {
  .title-h2 {
    margin-bottom: 40px;
  }
  .title-h2 p.tab {
    padding: 8px 16px;
    margin-bottom: 12px;
    font-size: calc(1.2 * var(--font-size));
  }
  .title-h2 h2 {
    font-size: calc(3 * var(--font-size));
  }
}

/* icon */
i.icon {
  display: inline-block;
  line-height: 100%;
  color: #008BF2;
}

i.icon::before {
  content: " ";
  display: block;
  font-family: icon;
  font-style: normal;
  font-weight: normal;
}

a {
  display: inline-block;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

a:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

a.cta-btn {
  color: #fff;
  background-color: #008BF2;
  border-radius: 2px;
}

a.cta-btn:hover {
  background-color: #006BBB;
}

/* kv */
.kv-block {
  position: relative;
}

.kv-block .center {
  max-width: 1280px;
}

.kv-block .kv-desc {
  width: 50%;
}

.kv-block .kv-desc p.title {
  margin-bottom: 16px;
  font-size: calc(5.6 * var(--font-size));
  font-weight: 800;
}

.kv-block .kv-desc p.desc {
  margin-bottom: 28px;
  font-size: calc(2.2 * var(--font-size));
  color: #353B50;
  line-height: 1.6;
}

.kv-block .kv-desc a.cta-btn {
  padding: 20px 52px;
  font-size: calc(2.2 * var(--font-size));
  font-weight: bold;
}

.kv-block .kv-desc .payment {
  padding-top: 60px;
  margin-top: 100px;
  border-top: 1px #eaeaea solid;
}

.kv-block .kv-desc .payment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.kv-block .kv-desc .payment ul li {
  margin-right: 35px;
}

.kv-block .kv-desc .payment ul li:last-child {
  margin-right: 0;
}

.kv-block .kv-desc .payment ul li img {
  width: 100%;
  height: auto;
}

.kv-block .kv-img {
  width: calc(50vw - 30px);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.kv-block .kv-img img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1327px) {
  .kv-block .kv-desc {
    width: 50%;
  }
  .kv-block .kv-desc p.title {
    font-size: calc(5 * var(--font-size));
  }
  .kv-block .kv-desc p.desc {
    font-size: calc(2 * var(--font-size));
  }
  .kv-block .kv-desc .payment ul li {
    margin-right: 20px;
  }
  .kv-block .kv-desc .payment ul li img {
    width: auto;
    height: 25px;
  }
  .kv-block .kv-img img {
    width: 120%;
  }
}

@media screen and (max-width: 1024px) {
  .kv-block {
    padding-top: 40px;
  }
  .kv-block .kv-desc p.title {
    font-size: calc(4.5 * var(--font-size));
  }
}

@media screen and (max-width: 768px) {
  .kv-block {
    padding-top: 40px;
  }
  .kv-block .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kv-block .kv-desc {
    width: 100%;
  }
  .kv-block .kv-img {
    width: 100%;
    margin-top: 80px;
    position: relative;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .kv-block .kv-img img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 428px) {
  .kv-block {
    padding-top: 20px;
  }
  .kv-block .kv-desc p.title {
    font-size: calc(3.2 * var(--font-size));
  }
  .kv-block .kv-desc p.desc {
    font-size: calc(1.6 * var(--font-size));
  }
  .kv-block .kv-desc a.cta-btn {
    padding: 12px 28px;
    font-size: calc(1.6 * var(--font-size));
  }
  .kv-block .kv-desc .payment {
    padding-top: 30px;
    margin-top: 60px;
  }
  .kv-block .kv-desc .payment ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .kv-block .kv-desc .payment ul li {
    margin-right: 0;
  }
  .kv-block .kv-desc .payment ul li img {
    height: 23px;
  }
  .kv-block .kv-img {
    width: 100%;
  }
}

/* 關於GASHPay */
.about-block {
  background-color: #F0F5FA;
}

.about-block h2 {
  margin-bottom: 64px;
  font-size: calc(4 * var(--font-size));
  font-weight: 600;
}

.about-block .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-block .item ul li {
  width: calc(100% / 4 - 40px);
}

.about-block .item ul li i.icon {
  margin-bottom: 24px;
  font-size: calc(4 * var(--font-size));
}

.about-block .item ul li:nth-child(1) i.icon::before {
  content: '\e900';
}

.about-block .item ul li:nth-child(2) i.icon::before {
  content: '\e903';
}

.about-block .item ul li:nth-child(3) i.icon::before {
  content: '\e908';
}

.about-block .item ul li:nth-child(4) i.icon::before {
  content: '\e901';
}

.about-block .item ul li p.title {
  margin-bottom: 12px;
  font-size: calc(2.4 * var(--font-size));
  font-weight: bold;
}

.about-block .item ul li p.desc {
  font-size: calc(1.8 * var(--font-size));
  color: #353B50;
}

.goldflow-block img {
  display: block;
  max-width: 920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about-block .item ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-block .item ul li {
    width: calc(100% / 2 - 30px);
    margin-bottom: 50px;
  }
  .about-block .item ul li:nth-child(3), .about-block .item ul li:nth-child(4) {
    margin-bottom: 0;
  }
  .goldflow-block img {
    width: 90%;
  }
}

@media screen and (max-width: 428px) {
  .about-block h2 {
    margin-bottom: 40px;
    font-size: calc(2.6 * var(--font-size));
  }
  .about-block .item ul li {
    width: calc(100% / 2 - 10px);
  }
  .about-block .item ul li i.icon {
    margin-bottom: 16px;
    font-size: calc(3.4 * var(--font-size));
  }
  .about-block .item ul li p.title {
    font-size: calc(2 * var(--font-size));
  }
  .about-block .item ul li p.desc {
    font-size: calc(1.6 * var(--font-size));
  }
  .goldflow-block img {
    display: block;
    max-width: 920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/* 主要服務 */
.service-block .title-h2 {
  text-align: center;
}

.service-block .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-block .item ul li {
  width: calc(100% / 3 - 15px);
  min-height: 265px;
  padding: 28px 28px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px #f1f1f1 solid;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.service-block .item ul li i.icon {
  margin-bottom: 40px;
  font-size: calc(4.5 * var(--font-size));
}

.service-block .item ul li:nth-child(1) i.icon::before {
  content: '\e907';
}

.service-block .item ul li:nth-child(2) i.icon::before {
  content: '\e905';
}

.service-block .item ul li:nth-child(3) i.icon::before {
  content: '\e902';
}

.service-block .item ul li:nth-child(4) i.icon::before {
  content: '\e906';
}

.service-block .item ul li:nth-child(5) i.icon::before {
  content: '\e904';
}

.service-block .item ul li:nth-child(6) i.icon::before {
  content: '\e909';
}

.service-block .item ul li p.title {
  margin-bottom: 12px;
  font-size: calc(2.2 * var(--font-size));
  font-weight: bold;
}

.service-block .item ul li p.desc {
  margin-bottom: 4px;
  font-size: calc(1.8 * var(--font-size));
  color: #353B50;
}

.service-block .item ul li p.desc:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .service-block .title-h2 {
    text-align: left;
  }
  .service-block .item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service-block .item ul li {
    width: calc(100% / 2 - 12px);
  }
}

@media screen and (max-width: 428px) {
  .service-block .item ul li {
    width: 100%;
    min-height: auto;
    padding: 24px;
    margin-bottom: 20px;
  }
  .service-block .item ul li i.icon {
    margin-bottom: 20px;
    font-size: calc(3.4 * var(--font-size));
  }
  .service-block .item ul li p.title {
    margin-bottom: 12px;
    font-size: calc(2 * var(--font-size));
  }
  .service-block .item ul li p.desc {
    margin-bottom: 4px;
    font-size: calc(1.6 * var(--font-size));
    color: #353B50;
  }
}

.risk-block .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.risk-block .risk-img {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.risk-block .risk-img .left li, .risk-block .risk-img .right li {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px #f1f1f1 solid;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.risk-block .risk-img .left li:last-child, .risk-block .risk-img .right li:last-child {
  margin-bottom: 0;
}

.risk-block .risk-img .left li img, .risk-block .risk-img .right li img {
  display: block;
  width: 100px;
  height: auto;
}

.risk-block .risk-img .middle {
  margin-top: 45px;
}

.risk-block .risk-img .middle img {
  display: block;
}

.risk-block .risk-img .right {
  margin-top: 230px;
}

.risk-block .risk-desc {
  width: 45%;
}

.risk-block .risk-desc .title-h2 {
  margin-bottom: 70px;
}

.risk-block .risk-desc .item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 32px;
}

.risk-block .risk-desc .item li:last-child {
  margin-bottom: 0;
}

.risk-block .risk-desc .item li i.icon {
  margin-top: 3px;
  margin-right: 12px;
  font-size: calc(2.6 * var(--font-size));
  color: #1E2333;
}

.risk-block .risk-desc .item li i.icon::before {
  content: '\e90a';
}

.risk-block .risk-desc .item li .item-desc p.title {
  margin-bottom: 4px;
  font-size: calc(2.2 * var(--font-size));
  font-weight: bold;
}

.risk-block .risk-desc .item li .item-desc p.desc {
  font-size: calc(1.8 * var(--font-size));
  color: #353B50;
}

@media screen and (max-width: 768px) {
  .risk-block .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .risk-block .risk-img {
    width: 80%;
    margin-bottom: 60px;
  }
  .risk-block .risk-desc {
    width: 100%;
  }
}

@media screen and (max-width: 428px) {
  .risk-block .risk-img {
    width: 100%;
    margin-bottom: 40px;
  }
  .risk-block .risk-img .left li, .risk-block .risk-img .right li {
    padding: 10px;
    margin-bottom: 20px;
  }
  .risk-block .risk-img .left li img, .risk-block .risk-img .right li img {
    width: 70px;
  }
  .risk-block .risk-img .middle img {
    width: 100%;
  }
  .risk-block .risk-desc .title-h2 {
    margin-bottom: 40px;
  }
  .risk-block .risk-desc .item li {
    margin-bottom: 20px;
  }
  .risk-block .risk-desc .item li i.icon {
    margin-right: 10px;
    font-size: calc(2.4 * var(--font-size));
  }
  .risk-block .risk-desc .item li .item-desc p.title {
    font-size: calc(2 * var(--font-size));
  }
  .risk-block .risk-desc .item li .item-desc p.desc {
    font-size: calc(1.6 * var(--font-size));
  }
}

/* 使用步驟 */
.starter-block {
  padding-bottom: 0;
  background-color: #F0F5FA;
}

.starter-block::after {
  display: block;
  content: '';
  width: 100%;
  height: 150px;
  margin-top: -150px;
  background-color: #FBFBFB;
}

.starter-block .title-h2 {
  text-align: center;
  margin-bottom: 75px;
}

.starter-block .item {
  margin-bottom: 80px;
}

.starter-block .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.starter-block .item ul li {
  width: calc(100% / 3 - 40px);
}

.starter-block .item ul li p.step {
  font-size: calc(2 * var(--font-size));
  font-weight: bold;
  color: #008BF2;
}

.starter-block .item ul li p.title {
  margin-bottom: 12px;
  font-size: calc(2.4 * var(--font-size));
  font-weight: 600;
}

.starter-block .item ul li p.desc {
  font-size: calc(1.8 * var(--font-size));
  color: #353B50;
}

.starter-block .connect {
  width: 100%;
  max-width: 1440px;
  height: 350px;
  border: 1px #1E2333 solid;
  border-radius: 6px;
  background-image: url(../img/bg-connect.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.starter-block .connect div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.starter-block .connect div p {
  margin: 0 auto 40px;
  font-size: calc(5 * var(--font-size));
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.starter-block .connect div a.cta-btn {
  padding: 16px 40px;
  font-size: calc(2 * var(--font-size));
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .starter-block .title-h2 {
    text-align: left;
    margin-bottom: 70px;
  }
  .starter-block .item {
    margin-bottom: 60px;
  }
  .starter-block .item ul li {
    width: calc(100% / 3 - 20px);
  }
  .starter-block .connect {
    height: 320px;
  }
  .starter-block .connect div p {
    font-size: calc(4.4 * var(--font-size));
  }
}

@media screen and (max-width: 428px) {
  .starter-block::after {
    height: 80px;
    margin-top: -80px;
  }
  .starter-block .title-h2 {
    margin-bottom: 40px;
  }
  .starter-block .item {
    margin-bottom: 18px;
  }
  .starter-block .item ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .starter-block .item ul li {
    width: 100%;
    margin-bottom: 32px;
  }
  .starter-block .item ul li p.step {
    font-size: calc(1.4 * var(--font-size));
  }
  .starter-block .item ul li p.title {
    margin-bottom: 8px;
    font-size: calc(2 * var(--font-size));
  }
  .starter-block .item ul li p.desc {
    font-size: calc(1.6 * var(--font-size));
  }
  .starter-block .connect {
    height: 225px;
  }
  .starter-block .connect div {
    padding: 0 30px;
    text-align: left;
  }
  .starter-block .connect div p {
    margin: 0 auto 24px;
    font-size: calc(3 * var(--font-size));
    text-align: left;
  }
  .starter-block .connect div a.cta-btn {
    padding: 12px 32px;
    font-size: calc(1.6 * var(--font-size));
  }
}

/* layout */
body {
  font-family: 'Arial', '微軟正黑體', 'Noto Sans TC', sans-serif;
  line-height: 1.4;
  background-color: #FBFBFB;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body.hidden {
  overflow: hidden;
}

.center {
  width: calc(100% - 40px);
  max-width: 1180px;
  margin: 0 auto;
}

.desk {
  display: block;
}

.mobile {
  display: none;
}

main {
  margin-top: 90px;
}

main section {
  padding: 90px 0;
}

@media screen and (max-width: 768px) {
  main section {
    padding: 70px 0;
  }
}

@media screen and (max-width: 428px) {
  main section {
    padding: 50px 0;
  }
}

/* header */
header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

header .center {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 img {
  width: 160px;
  height: auto;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul a {
  margin: 0 15px;
  font-size: calc(1.6 * var(--font-size));
}

header nav ul a:hover {
  color: #A9BDCB;
}

header .account a {
  margin: 0 10px;
  font-size: calc(1.6 * var(--font-size));
}

header .account a:hover {
  color: #A9BDCB;
}

header .account a.cta-btn {
  margin-right: 0;
  padding: 14px 32px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  header .desk {
    display: none;
  }
  header .mobile {
    display: block;
  }
  header h1 {
    z-index: 1;
  }
  header h1 img {
    width: 130px;
  }
  header nav {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 160px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
  }
  header nav.open {
    display: block;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  header nav ul li {
    margin-bottom: 32px;
  }
  header nav ul li:last-child {
    margin-bottom: 0;
  }
  header nav ul a {
    margin: 0;
    font-size: calc(1.8 * var(--font-size));
  }
  header nav ul a.cta-btn {
    padding: 12px 32px;
    font-weight: 500;
  }
  header .account a {
    margin: 0 15px;
    font-size: calc(1.8 * var(--font-size));
    color: #1E2333;
  }
  header .account a:hover {
    color: #A9BDCB;
  }
  header .account a.cta-btn {
    padding: 12px 36px;
    color: #fff;
  }
}

.nav-icon {
  width: 45px;
  height: 45px;
  background: none;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  width: 60%;
  height: 3px;
  margin: 0 auto;
  background-color: #1E2333;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 14px;
}

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
  top: 22px;
}

.nav-icon span:nth-child(4) {
  top: 30px;
}

.nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0;
  border-top: 1px #ddd solid;
}

footer.center {
  max-width: 1280px;
  margin-top: 100px;
}

footer .sitemap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .sitemap ul li {
  margin-right: 32px;
}

footer .sitemap ul li a {
  font-size: calc(1.5 * var(--font-size));
}

footer .sitemap ul li a:hover {
  color: #A9BDCB;
}

footer p.copyright {
  font-size: calc(1.2 * var(--font-size));
}

@media screen and (max-width: 1024px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.center {
    margin-top: 80px;
  }
  footer .sitemap {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .sitemap ul li a {
    font-size: calc(1.5 * var(--font-size));
  }
  footer .sitemap ul li a:hover {
    color: #A9BDCB;
  }
  footer p.copyright {
    width: 100%;
  }
}

@media screen and (max-width: 428px) {
  footer .sitemap ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .sitemap ul li {
    width: calc(100% / 2);
    margin: 0 0 24px;
  }
  footer .sitemap ul li:nth-child(3), footer .sitemap ul li:nth-child(4) {
    margin-bottom: 0;
  }
  footer .sitemap ul li a {
    font-size: calc(1.5 * var(--font-size));
  }
  footer .sitemap ul li a:hover {
    color: #A9BDCB;
  }
  footer p.copyright {
    font-size: calc(1.2 * var(--font-size));
  }
}

/* 條款 */
.center.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 180px;
}

aside {
  min-width: 225px;
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
}

aside ul li {
  padding: 20px 16px;
  border-bottom: 1px #ddd solid;
}

aside ul li:first-child {
  border-top: 1px #ddd solid;
}

aside ul li.active a {
  font-weight: bold;
  color: #008BF2;
}

aside ul li a:hover {
  color: #A9BDCB;
}

article {
  width: calc(100% - 280px);
}

article h3 {
  margin-bottom: 40px;
  font-size: calc(3.4 * var(--font-size));
  font-weight: bold;
}

article p {
  font-size: calc(1.6 * var(--font-size));
  color: #353B50;
  line-height: 1.6;
}

article section {
  padding: 0;
  margin-top: 40px;
}

article section h4 {
  margin-bottom: 16px;
  font-size: calc(2.6 * var(--font-size));
}

article section li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
}

article section li span {
  margin-right: 8px;
  font-weight: bold;
}

article section li .desc {
  display: block;
  width: 100%;
}

article section li .desc p {
  line-height: 1.4;
}

article section li .desc .desc-box {
  margin-top: 8px;
}

article section .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 0;
}

article section .img img {
  width: calc(100% / 2 - 10px);
}

@media screen and (max-width: 768px) {
  aside {
    min-width: 25%;
    width: 25%;
  }
  article {
    width: calc(100% - 25% - 40px);
  }
}

@media screen and (max-width: 428px) {
  .center.terms {
    width: 100%;
    margin-top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside {
    min-width: 100%;
    width: 100%;
    margin-bottom: 40px;
    background-color: #E3F0FA;
    top: 77px;
    z-index: 8;
  }
  aside ul {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  aside ul::-webkit-scrollbar {
    display: none;
  }
  aside ul li {
    border: none;
    padding: 12px 0;
    margin-right: 16px;
  }
  aside ul li:first-child {
    border: none;
    padding-left: 0;
  }
  aside ul li:last-child {
    margin-right: 0;
  }
  aside ul li.active {
    border-bottom: 3px #008BF2 solid;
  }
  aside ul li a {
    font-size: calc(1.4 * var(--font-size));
  }
  article {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  article h3 {
    margin-bottom: 20px;
    font-size: calc(3 * var(--font-size));
  }
  article section h4 {
    margin-bottom: 16px;
    font-size: calc(2 * var(--font-size));
  }
  article section li {
    margin-bottom: 4px;
  }
  article section li .desc .desc-box {
    margin-top: 4px;
  }
  article section .img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 0;
  }
  article section .img img {
    width: 100%;
    margin-bottom: 20px;
  }
  article section .img img:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=styles.css.map */